{% load static %}
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>HiTalent<span></span></h3>
              <p>
                Rajashthan <br />
                India <br /><br />
                <strong>Phone:</strong>2545566767<br />
                <strong>Email:</strong> madan@hitalent.org<br />
              </p>
              <!--<div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>-->
            </div>
          </div>
          <a href="https://bootstrapmade.com/"></a>
        </div>
      </div>
    </div>
  </footer>