{% load static %}
<!-- <div>
    <h3>
        Welcome to Hitalent!
    </h3>
    <h4>To start journey with us ,You can signup with Google link below. </h4>



<div>
	

	<div> <a href="/accounts/google/login/?process=login"> Signup with
			Google <i></i> </a> </div>

			


	
</div> -->

<link rel="stylesheet" href={% static 'css/style.css' %}>
<div class="login-box">
  <h2>Sign Up</h2>
  <form>
    <div>
      <label>Click below button to signup</label>
    </div>
    <a href="/accounts/google/login/?process=login">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Google
    </a>
  </form>
</div>
