{% load static %}
{% include 'header.html' %}
  

<body>


  <div class="container">
   
    <button
      class="button login__submit btn-lg btn-info"
      onclick="location.href='https://github.com/hi-talent-org/journey'"
      type="button">
      <span class="button__text"><h3>Github Repo</h3></span>
      <i class="button__icon fas fa-chevron-right"></i>
    </button>
    <button
      class="button login__submit btn-lg btn-info"
      onclick="location.href='https://join.slack.com/t/slack-1qy4635/shared_invite/zt-16dq0kipe-o2sBGw6h5do6OxNkPfiABw'"
      type="button">
      <span class="button__text"><h3>Join Slack</h3></span>
      <i class="button__icon fas fa-chevron-right"></i>
    </button>
    <button
      class="button login__submit btn-lg btn-info"
      onclick="location.href='https://meet.google.com/mha-icsp-sdm'"
      type="button">
      <span class="button__text"><h3>Standup</h3></span>
      <i class="button__icon fas fa-chevron-right"></i>
    </button>

    <button
      class="button login__submit btn-lg btn-info"
      onclick="location.href= 'https://www.freecodecamp.org/learn/'"
      type="button">
      <span class="button__text"><h3>FreecodeCamp</h3></span>
      <i class="button__icon fas fa-chevron-right"></i>
    </button>



  </div>

</body>
<style>
  .container{
    margin: auto;
    padding: 200px;
    text-align: center;
  }
  
</style>
