<form action="" method="post" >
  <!-- <select class="did" onChange="form.submit();"></select> -->
  {% csrf_token %} {{form.as_p }}
  <button type="submit">SUBMIT</button>
  <!-- <script>document.getElementById("form").submit(); -->
<!-- </script> -->
  <!-- <script>
    $("#did").click(function () {
      $("#form").submit();
    });
  </script> -->
  <!-- <script>
    document.getElementById("dud").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }        
    };
</script> -->

</form>
