{% load static %}
{% include 'header.html' %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  


  <title>Hitalent</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'UI/assetss/img/favicon.png' %}" rel="icon">
  <link href="{% static 'UI/assetss/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href=" https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'UI/assetss/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'UI/assetss/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'UI/assetss/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'UI/assetss/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'UI/assetss/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Variables CSS Files. Uncomment your preferred color scheme -->
  <link href="{% static 'UI/assetss/css/variables.css' %}" rel="stylesheet">
  <!-- <link href="assetss/css/variables-blue.css" rel="stylesheet"> -->
  <!-- <link href="assetss/css/variables-green.css" rel="stylesheet"> -->
  <!-- <link href="assetss/css/variables-orange.css" rel="stylesheet"> -->
  <!-- <link href="assetss/css/variables-purple.css" rel="stylesheet"> -->
  <!-- <link href="assetss/css/variables-red.css" rel="stylesheet"> -->
  <!-- <link href="assetss/css/variables-pink.css" rel="stylesheet"> -->

  <!-- Template Main CSS File -->
  <link href="{% static 'UI/assetss/css/main.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: HeroBiz - v2.1.0
  * Template URL: https://bootstrapmade.com/herobiz-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  

  <section id="hero-fullscreen" class="hero-fullscreen d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center position-relative" data-aos="zoom-out">
      <h2>Hi Talent!<span></span></h2>
      <p>{% if user.is_authenticated %} Welcome {{ user}} {% endif %}</p>
      <p>Online programming training platform...helping young minds...</p>
      
    </div>
  </section>

  <main id="main">

   

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>About Us</h2>
          <p>Hi Talent-online programming training platform that is on a mission to help students learn programming free of cost
          </p>
        </div>

        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-5">
            <div class="about-img">
              <img src="{% static 'UI/assetss/img/about.jpg' %}" class="img-fluid" alt="">
            </div>
          </div>

          <div class="col-lg-7">

           

            <!-- Tab Content -->
            <div class="tab-content">

              <div class="tab-pane fade show active" id="tab1">


                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>What we deliver?
                  </h4>
                </div>
                <p>We deliver our training through internship of 3-6 months duration and apprenticeship of 6-9 months duration, which equips the talents with necessary programming skills. Our end goal is that after the internship or apprenticeship, the talent will be able to get a job as sotware developer. With us, the talents have a chance to try their hands on live projects, which give them actual industry exposure. We are sure that our training programs helps the talents to update their programming skills according to current industry standards. We are delivering training in Java, Python, Javascript, DotNet, SQL, Docker, DevOps, Agile, Algorithms and basic data structure. Programs Internship Program (3-6 Months) This program is for candidates who are from the computer science discipline.

                </p>

                <div class="d-flex align-items-center mt-4">
                  <i class="bi bi-check2"></i>
                  <h4>Apprenticeship of 6-9 months duration
                  </h4>
                </div>
                <p>The entire duration of the program is 3 to 6 months in which they are trained on our carriculum and on live projects for which they are provided with a stipend. Our industry oriented carriculum helps them to brush up their basic programming skills and working on live projects gives them necessary industry exposure. Apprenticeship Program (6-9 Months) This program is for people who are not from computer science discipline. People who wish to switch to this field or have a desire to learn computer programming can apply for this program. The entire duration of the program is 6 to 9 months in which they are trained on basic as well as advanced concepts in programming and also have the chance to work on live projects for which they are provided with a stipend.

                </p>

                
              </div><!-- End Tab 1 Content -->

             

             

            </div>

          </div>

        </div>

      </div>
    </section><!-- End About Section -->

 

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Our Team</h2>
          <!-- <p>Architecto nobis eos vel nam quidem vitae temporibus voluptates qui hic deserunt iusto omnis nam voluptas asperiores sequi tenetur dolores incidunt enim voluptatem magnam cumque fuga.</p> -->
        </div>

        <div class="row gy-5">

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="200">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'UI/assetss/img/team/team-1.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Madan Mohan Meena
</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="400">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'UI/assetss/img/team/team-2.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Swathi</h4>
                <span>HR</span>
              </div>
            </div>
          </div><!-- End Team Member -->

          <div class="col-xl-4 col-md-6 d-flex" data-aos="zoom-in" data-aos-delay="600">
            <div class="team-member">
              <div class="member-img">
                <img src="{% static 'UI/assetss/img/team/team-3.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <div class="social">
                  <a href=""><i class="bi bi-twitter"></i></a>
                  <a href=""><i class="bi bi-facebook"></i></a>
                  <a href=""><i class="bi bi-instagram"></i></a>
                  <a href=""><i class="bi bi-linkedin"></i></a>
                </div>
                <h4>Sandeep
                  </h4>
                <span>Accountant</span>
              </div>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>
    </section><!-- End Team Section -->

  {% include 'footer.html' %}
  </main><!-- End #main -->

 
  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div> 

  <!-- Vendor JS Files -->
  <script src="{% static 'UI/assetss/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'UI/assetss/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'UI/assetss/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'UI/assetss/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'UI/assetss/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'UI/assetss/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'UI/assetss/js/main.js' %}"></script>

</body>

</html>
