{% load static %}

<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<nav class="sidebar close">

    <header>
      
      <div class="image-text">
        <span class="image">
          <img src="logo.png" alt="" />
        </span>
  
        <div class="text logo-text">
          <span class="name">Hitalent </span>
          <span class="profession"></span>
        </div>
      </div>
  
      <i class="bx bx-chevron-right toggle"></i>
    </header>
  
    <div class="menu-bar">
      <div class="menu">
        <!-- <li class="search-box">
                  <i class='bx bx-search icon'></i>
                  <input type="text" placeholder="Search...">
              </li> -->
  
        <ul class="menu-links">
          <li class="nav-link">
            <a href="{% url 'home' %}">
              <i class="bx bx-home-alt icon"></i>
              <span class="text nav-text">Home</span>
            </a>
          </li>
          <li class="nav-link">
            <a href="{% url 'dashboard' %}">
              <i class="bx bx-home-alt icon"></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>
  
          <!-- <li class="nav-link">
            <a href="{% url 'account_login' %}">
              <i class="bx bx-log-in icon"></i>
              <span class="text nav-text">Sign Up</span>
            </a>
          </li> -->
  
          <li class="nav-link">
            <a href="https://github.com/hi-talent-org/journey">
              <i class="bx bx-laptop icon"></i>
              <span class="text nav-text">Journey</span>
            </a>
          </li>
  
          <li class="nav-link">
                      <a href="#">
                          <i class='bx bx-computer icon'></i>
                          <span class="text nav-text">Choose Language</span>
                      </a>
                  </li>
  
          <li class="nav-link">
            <a href="https://hitalentt.slack.com/?redir=%2Fgantry%2Fclient">
              <i class="bx bx-slack icon"></i>
              <!-- <box-icon type="logo" name="slack" icon></box-icon> -->
              <span class="text nav-text">Slack</span>
            </a>
          </li>
  
          <li class="nav-link">
            <a href="https://github.com/hi-talent-org/helloworld">
              <i class="bx bx-github-square icon"></i>
              <span class="text nav-text">GITHUB</span>
            </a>
          </li>
          <li class="nav-link">
            {% if request.user.is_authenticated %}
            <a href="{% url 'user-profile' user.id %}">
              <i class="bx bx-github-square icon"></i>
              <span class="text nav-text">Profile</span>
            </a>
            {% else %}
            <a href="account_login">
              <i class="bx bx-github-square icon"></i>
              <span class="text nav-text">Profile</span>
            </a>
            {% endif %}
          </li>
        </ul>
      </div>
  
      <div class="bottom-content">
        <li class="">
          <a href="{% url 'account_logout' %}">
            <i class="bx bx-log-out icon"></i>
            <span class="text nav-text">Logout</span>
          </a>
        </li>
  
        <!-- <li class="mode">
          <div class="sun-moon">
            <i class="bx bx-moon icon moon"></i>
            <i class="bx bx-sun icon sun"></i>
          </div>
          <span class="mode-text text">Dark mode</span>
  
          <div class="toggle-switch">
            <span class="switch"></span>
          </div>
        </li> -->
      </div>
    </div>
  </nav>